.objectMatching-widget {
    &.submitted {
        .no-touch .objectMatching-category-item, .no-touch .objectMatching-option-item {
            cursor: default;
        }
    }

    &.show-user-answer {
        .objectMatching-select-icon {
            display: none;
        }

        .incorrect {
            .objectMatching-incorrect-icon {
                display: block;
            }
        }

        .correct {
            .objectMatching-correct-icon {
                display: block;
            }
        }
    }

    &.show-correct-answer {
        .objectMatching-select-icon {
            display: none;
        }

        .objectMatching-correct-icon {
            display: block;
        }
    }

    &.disabled {
        .objectMatching-category-item, .objectMatching-option-item {
            cursor: default;
        }

        .objectMatching-select-state {
            display: block;
        }
    }
}

.objectMatching-component {
    .objectMatching-inner {
        width: auto;
    }

    .objectMatching-widget {
        display: inline-block;
        width: 100%;
    }

    .objectMatching-categories-container, .objectMatching-options-container {
        position: relative;
        float: left;
        width: 50%;
        margin-bottom: 8px;
        border-color: transparent;
    }

    .objectMatching-category-title, .objectMatching-option-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }

    .objectMatching-category-item-cotainer, .objectMatching-option-item-cotainer {
        position: relative;
        display: block;
        margin: 5px 0;
        border-width: 4px;
        border-style: @item-border-style;
        border-color: transparent;
    }

    .objectMatching-category-item-border {
        border-color: #1e90ff;
    }

    .objectMatching-category-item, .objectMatching-option-item {
        width: 98%;
        margin: 1%;
        padding: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        color: @item-text-color;
    }

    .objectMatching-option-item {
        padding-left: 25px;
    }

    .objectMatching-select-icon {
        color: @item-text-color;
    }

    .objectMatching-correct-icon {
        display: none;
        color: @icon-correct-color;
    }

    .objectMatching-incorrect-icon {
        display: none;
        color: @icon-incorrect-color;
    }

    .objectMatching-select-state {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 10px;
        display: none;
        width: @icon-size;
        height: @icon-size;
        margin-top: -(@icon-size/2);
        background: none;
    }

    @media (max-width:760px) {
        .objectMatching-categories-container, .objectMatching-options-container {
            width: 100%;
        }
    }
}

